.Button {
  color: white;
  background-color: rgb(46, 45, 45);
  border: 2px solid black;
  font-size: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;

  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden
  
}

.Button:hover {
  background-color: rgb(173, 173, 173);
}